/* --- Carrousel de Video --- */
.hero-slide{ /*CSS para el video hero*/
    position: relative;
    height: 700px;
    overflow: hidden;
}

.hero-slide video{ /* Video ocupando todo el fondo */
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;

    object-fit: cover;
}

.hero-overlay{ /* Capa encima del video */
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

    display:flex;
    align-items:center;

    background: rgba(0, 0, 0, 0.35);   
    color:var(--color-terciario);
}

.hero-overlay .container{ /* Texto alineado al contenedor */
    max-width:50%;
    margin-left: 5%;
}

@media (max-width:767px){
    .hero-overlay .container{ /* Texto alineado al contenedor */
        max-width:100%;
    }   
}

.btn-hero{ /* Estilo del botón */
    border:2px solid var(--color-terciario);
    color:var(--color-terciario);
    padding:12px 30px;
    border-radius:30px;
    text-decoration:none;
    display:inline-block;
    margin-top:20px;
}

.btn-hero:hover{ /* Estilo del botón */
    transform:scale(1.05);
    background-color: var(--color-terciario);
    color:rgba(0, 0, 0, 0.65);
}

.carousel-indicators button{ /* Estilo de los indicadores (los circulitos que indican el tipo de video) */
    border-radius:50%;
    background-color:var(--color-principal) !important;
}

.carousel-indicators .active{
    background-color:var(--color-secundario) !important;
    transform:scale(1.2);
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  /*opacity: 1;*/
}

/* --- Banner --- */
.banner{
    background-image: url("../recursos-multimedia/home/banner-1-background.png");
    background-size: cover;
    background-position: center;
    
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.banner::before{ /*imagen banner tiene un velo blanco*/
    content:"";
    position:absolute;
    inset:0;
    background: rgba(255,255,255,0.7);
}

.banner-content{
    position: relative;
    text-align: center;
}

.banner-content h3{
    color:var(--color-principal);
    font-weight:600;
    margin-bottom:10px;
}

.banner-content p{
    color:var(--color-principal);
    font-weight:800;
    margin-bottom:10px;
    margin:auto;
}

.banner-logo{
    max-width:350px;
    width: auto;
    height: auto;
}

@media (max-width:767px){
    .banner-logo{
        width: 200px;
    }  

    .banner-content h3{
        font-size:20px;
    }

    .banner-content p{
        font-size:13px;
    }
}


/* ----- Cards ----*/
.servicios-section{
    background:var(--color-principal);
    padding:40px 40px;
}

.servicios-grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
}

@media(max-width:992px){
    .servicios-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:576px){
    .servicios-grid{
        grid-template-columns: 1fr;
    }
}

.servicio-card{
    position:relative;
    overflow:visible;
}

.servicio-img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:20px;
    display:block;
}

.servicio-frame{
    position:absolute;
    left:20%;
    bottom:5%;
    width:82%;
    padding:15px;
    background:var(--color-secundario);
    color:var(--color-terciario);
    border-radius:5px;
    text-align:center;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:auto;
    transition: transform .8s ease;
}

.servicio-frame h5{
    margin-bottom:0;
    text-align: left;
}

.servicio-frame p{
    overflow:hidden;
    margin-top:10px;
    margin-bottom: 0;
    font-size:14px;

    display:none;
    opacity:0;
    transform: translateY(10px);

    transition: opacity .8s ease, transform .35s ease;

    text-align:left;
}

.servicio-arrow{
    position:absolute;
    top:-2.5%;
    right:-2.5%;

    width:40px;
    height:40px;

    background:var(--color-terciario);
    color:var(--color-cuarto);

    border-radius:0% 0 0% 90%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:18px;
    text-decoration:none;

    opacity:0;
    transform:scale(.7);

    transition:all .35s ease;
}


.servicio-card:hover .servicio-frame{
    transform: translateY(-3%);
}

.servicio-card:hover p{
    display:block;
    opacity:1;
    transform: translateY(0);
}

.servicio-card:hover{
    opacity:1;
}

.servicio-card:hover .servicio-arrow{
    opacity:1;
    transform:scale(1);
}

/* --- BANNER IODA --*/
.banner-tarjetas{
    padding:30px 50px;
    
    background-size: cover;
    background-position: center;
    
    width: 100%;
    position: relative;

}

.banner-tarjetas::before{ /*imagen banner tiene un velo blanco*/
    content:"";
    position:absolute;
    inset:0;
    background: rgba(255,255,255,0.7);
}


.tarjetas-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:5%;
}

@media(max-width:768px){
    .tarjetas-grid{
        grid-template-columns:1fr;
    }
}

.flip-card{
    perspective:1000px;
}

.flip-inner{
    position:relative;
    width:100%;
    max-width: 350px;
    height:150px;
    margin:0  auto;

    transition:transform .6s;
    transform-style:preserve-3d;
}

.flip-card:hover .flip-inner{
    transform:rotateY(180deg);
}

.flip-front{
    position:absolute;
    width:100%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background:rgba(255,255,255,0.1); /* tarjeta transparente */
    border-radius:12px;
    backdrop-filter:blur(5px);
    backface-visibility:hidden;
}

.flip-back{
    position:absolute;
    width:100%;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
    padding:5% 10%;

    /*
    background:rgba(0,0,0,1);
    */
    background:var(--color-terciario);
    color:var(--color-principal);
    font-family: var(--font-secundario);
    font-weight:700;

    border-radius:12px;

    transform:rotateY(180deg);
    backface-visibility:hidden;
}

.flip-back p{
    margin:0; /* elimina el desplazamiento del texto */
}

.card-logo{
    max-width:300px;
    width:80%;
}

/* --- BANNER 3 (PASS SECTION) --- */
.paas-section{
    padding:50px 40px;
    background:var(--color-secundario);
}

.card-container{
    display:flex;
    column-gap:2%;
    row-gap:25px;
    justify-content:center;
    flex-wrap:wrap;
}

.flip-card-banner-3{
    width:100%;
    max-width:620px;
    height:400px;
    perspective:1000px;
}

.flip-inner-banner-3{
    position:relative;
    width:100%;
    height:100%;
    transition:transform 0.8s;
    transform-style:preserve-3d;
}

.flip-card-banner-3:hover .flip-inner-banner-3{
    transform:rotateY(180deg);
}

.flip-front-banner-3, .flip-back-banner-3{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    border-radius:2px;
    overflow:hidden;

    background-image:var(--imagen);
    background-size:cover;
    background-position:center;
}

.flip-front-banner-3 img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.flip-back-banner-3{
    transform:rotateY(180deg);

    background-image:
        linear-gradient(rgba(10,80,140,0.6),
                        rgba(10,80,140,0.6)),
        var(--imagen);

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;
    text-align:left;
    padding:40px;
    color:white;
}

@media (max-width:768px){
    .flip-card-banner-3{
        height:500px;
    }
}

.card-text-banner-3 h2{
    margin-bottom:15px;
}

.card-text-banner-3 ul{
    margin-top:0px;
    padding-left:20px;
    /*list-style:circle;*/
}

.card-text-banner-3 li{
    margin-bottom:0px;
}


/*--------*/
.tarjeta-diagnostico{
    background:var(--color-principal);
    border:none;
    border-radius:40px;
    margin-left:70px; /* empuja el borde hacia la derecha */
}

/* imagen circular */
.img-diagnostico{
    width:150px;
    height:150px;
    border-radius:50%;
    border:4px solid var(--color-secundario);
    object-fit:cover;

    margin-left:-70px; /* hace que se meta dentro del frame azul */
}

/* hace que la imagen sobresalga */
.img-container{
    margin-left:-00px;
}

.boton-test{
    background: var(--color-secundario);
    color:var(--color-terciario);
    border:none;
}

.boton-test:hover{
    background:var(--color-terciario);
    color: var(--color-secundario-hover);
    border: 2px solid var(--color-secundario-hover);
    font-weight: bold;
}


@media (min-width:768px) and (max-width:991px){
    
    .tarjeta-diagnostico .card-body{
        margin-left:15px;
    }

}

/* responsive */
@media (max-width:768px){

    .tarjeta-diagnostico{
        padding-left:00px;
        text-align:center;
        margin-left:0px; /* empuja el borde hacia la derecha */
    }

    .img-container{
        margin-left:0;
        margin-top:-40px;
    }

        /* imagen circular */
    .img-diagnostico{
        margin-left:0px; /* hace que se meta dentro del frame azul */
        margin-top:-20px;
    }

}


/* --- Seccion de Video ---- */ 
.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Esto es 9/16 = 0.5625 → 56.25% */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*----Seccion Quienes Somos ----*/
.about {
  background: var(--color-terciario);
  padding: 60px 40px;
}

.container-about {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Texto */
.about-text {
  flex: 1;
}

.about-text h2 {
  font-size:55px;
  color: var(--color-principal);
  margin-bottom: 20px;
  padding-left: 90px;
  font-weight: 200px;
}

.about-text p {
  font-size: 18px;
  color: var(--color-principal);
  margin-bottom: 15px;
  line-height: 1.5;
}


.btn-about {
  display: inline-block;
  margin-top: 20px;
  background: var(--color-secundario);
  color: var(--color-terciario);
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

.btn-about:hover {
  background: var(--color-terciario);
  color: var(--color-secundario-hover);
  border: 2px solid var(--color-secundario-hover);
}

/* Imagen */
.about-image {
  flex: 1.5;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width:768px) and (max-width:991px){
    .about-text h2 {
        font-size: 50px;
        padding-left: 50px;
    }
}
/* Responsive */
@media (max-width: 768px) {
    .about {
    padding: 40px 40px;
    }
    .container-about {
    flex-direction: column;
    text-align: center;
    }

    .about-text h2 {
        font-size: 36px;
        padding-left: 0px;
    }

    .about-text p {
    font-size: 16px;
    }
}


/* ------------ */
.valores {
  background: var(--color-secundario);
  padding: 50px 20px;
  text-align: center;
}

.valores h2 {
  color: var(--color-terciario);
  font-size: 42px;
  margin-bottom: 40px;
}

/* Contenedor de tarjetas */
.cards-valores {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tarjeta */
.card-valores {
  background: var(--color-terciario);
  border-radius: 20px;
  padding: 30px;
  max-width: 400px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Imagen */
.card-valores img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
  max-height: 200px;
  object-fit: cover;
}

/* Texto */
.card-valores h3 {
  color: var(--color-principal);
  margin-bottom: 10px;
}

.card-valores p {
  color:  var(--color-principal);
  font-size: 20px;
  line-height: 1.5;
}

/* ✨ Hover efecto */
.card-valores:hover {
  transform: scale(1.05); /* 👈 crece un poquito */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  .valores h2 {
    font-size: 32px;
  }

  .card-valores {
    max-width: 330px;
  }
}

.card-valores:hover {
  transform: scale(1.03);
}